version: '3'
services:
  postgres:
    image: postgres:12-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
